OPENCODE_MODEL=anthropic/claude-sonnet-5
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
TTYD_PORT=7682

MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=metasample123
MB_JETTY_PORT=3001
MB_PREMIUM_EMBEDDING_TOKEN=
